h1{color: blue;}
#id1 {background-color: aqua;}
.class1 {background-color: blueviolet;}
a {background-color: goldenrod;}
.class2.class3 {background-color: deeppink;}
.class2.class3 p {background-color: chartreuse;}